@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<a href="/Home/AllCustomer" target="_blank">All Customer</a><br />
<a href="/Home/AddCustomer" target="_blank">Add Customer</a><br />
<a href="/Home/SearchCustomer" target="_blank">Search Customers</a>

